<ul>
 <%= form_for @skater do |s| %>
  <li>Name: <%=s.text_field :name%></li>
   <li>Email: <%=s.text_field :email%></li>
   <li>Cover-Photo: <%=s.file_field :photo%></li>
   <li>First Video (youtube URL): <%=s.text_field :intro_video%></li>
   <li>pw: <%=s.text_field :password%></li>
   <li>pw: <%=s.text_field :password_confirmation%></li>
   <li><%=s.submit "Complete Sign Up"%></li>
 <% end %>
