
<div class="container">
  <div class="row">
    <div id="profile-photo" class="col-md-6 col-md-offset-3">
      <h1><%=@skater.name%></h1><br>
      <img src="<%=@skater.photo%>"/>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="recent-posts">
        <div class="col-md-7 col-xs-12 profile-posts">
            <h2 style:"color:gray"> Recent posts by this skater:</h2>
        <%@posts.each do |p|%>
          <div id="<%=p.video_link%>" class="col-sm-12 col-xs-12 box-post" data-toggle="modal" data-target="#myModal">
          <div class="background-wrapper">
            <img class="post-image" src="<%=p.cover_photo%>" alt="" />
            <div class="image-caption">
              <a href="/skaters/<%=p.skater.id%>"><p>Skater:<%=p.skater.name%></p></a>
              <a href="/skaters/#<%=Skater.find(p.filmer)%>"><p>Filmer:<%=Skater.find(p.filmer).name%></p></a>
            </div>
          </div>
          <div class="post-tags">
            <%=link_to "Upvote", upvotes_new_path(:post => p.id), :method => :create%> | Total Votes: <%=p.upvotes.all.length%></div>
          </div>
        <%end%>
      </div>
      <div class="col-md-2 col-xs-12 upvoted-posts">
          <h2 style:"color:gray">Upvoted by <%=@skater.name%>:</h2>
        <%@skater.upvotes.all.each do |u|%>
          <div id="<%=Post.find(u.post_id).video_link%>" class="col-sm-12 col-xs-12 box-post" data-toggle="modal" data-target="#myModal">
          <div class="background-wrapper">
            <img class="post-image" src="<%=Post.find(u.post_id).cover_photo%>" alt="" />
            <div class="image-caption">
              <a href="/skaters/<%=Post.find(u.post_id).skater%>"><p>Skater:<%=Post.find(u.post_id).skater.name%></p></a>
              <a href="/skaters/#<%=Skater.find(Post.find(u.post_id).filmer)%>"><p>Filmer:<%=Skater.find(Post.find(u.post_id).filmer).name%></p></a>
            </div>
          </div>
          <div class="post-tags">
            <%=link_to "Upvote", upvotes_new_path(:post => u.post_id), :method => :create%> | Total Votes: <%=Post.find(u.post_id).upvotes.all.length%></div>
          </div>

        <%end%>
      </div>

      <div class="col-md-2 col-xs-12 upvoted-skaters">
          <h2 style:"color:gray"> Favorited Skaters:</h2>
        <%@posts.each do |p|%>
          <div id="<%=p.video_link%>" class="col-sm-12 col-xs-12 box-post" data-toggle="modal" data-target="#myModal">
          <div class="background-wrapper">
            <img class="post-image" src="<%=p.cover_photo%>" alt="" />
            <div class="image-caption">
              <a href="/skaters/<%=p.skater.id%>"><p>Skater:<%=p.skater.name%></p></a>
              <a href="/skaters/#<%=Skater.find(p.filmer)%>"><p>Filmer:<%=Skater.find(p.filmer).name%></p></a>
            </div>
          </div>
          <div class="post-tags">
            <%=link_to "Upvote", upvotes_new_path(:post => p.id), :method => :create%> | Total Votes: <%=p.upvotes.all.length%></div>
          </div>
        <%end%>
      </div>
    </div>
  </div>

    <% @skater.comments.all.each do |c|%>
    <%=c.body%>
    <%end%>
  </ul>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>
