<div class="container">
  <div class="row">
    <div id="profile-photo" class="col-md-6 col-md-offset-3">
      <h1><%=@crew.name%></h1><br>
      <img src="<%=@crew.cover_photo%>"/>
    </div>
  </div>
</div>

<div class="container">
  <div class="row crew-skaters-container">
    <div class="col-md-12 col-xs-12">
      <h3>Crew Members:</h3>
      <%@skaters.each do |s|%>
      <div class="col-sm-2 col-xs-12" data-toggle="modal" data-target="#myModal">
        <a href="/skaters/<%=s.id%>"><div class="background-wrapper">
          <img class="crew-skater" src="<%=s.photo%>" alt="" />
          <div class="image-caption">
            <a href="/skaters/<%=s.id%>"><h1><%=s.name%></h1></a>
          </div>
        </div></a>
      </div>
      <%end%>
    </div>
  </div>
</div>

      <div class="col-md-10 col-md-offset-1 col-xs-12">
          <h2 style:"color:gray"> Recent Posts from this crew:</h2>
        <%@crew.posts.all.order('random()').each do |p|%>
          <div id="<%=p.video_link%>" class="col-sm-3 col-xs-12 box-post" data-toggle="modal" data-target="#myModal">
          <div class="background-wrapper">
            <img class="post-image" src="<%=p.cover_photo%>" alt="" />
            <div class="image-caption">
              <a href="/skaters/<%=p.skater.id%>"><p>Skater:<%=p.skater.name%></p></a>
              <a href="/skaters/#<%=Skater.find(p.filmer)%>"><p>Filmer:<%=Skater.find(p.filmer).name%></p></a>
            </div>
          </div>
          <div class="post-tags">
            <%=link_to "Upvote", upvotes_new_path(:post => p.id), :method => :create%> | Total Votes: <%=p.upvotes.all.length%></div>
          </div>
        <%end%>
      </div>
