<h1>Posts#new</h1>

<div class="post-form">
  <%= form_for @post do |p| %>
  <ul>
    <li><%= p.label :title %></li>
    <li><%= p.text_field :title %></li>
    <br>
    <li><%= p.label :keywords %></li>
    <li><%= p.text_field :keywords %></li>
    <br>
    <li><%= p.label :cover_photo %></li>
    <li><%= p.file_field :cover_photo%></li>
    <br>
    <li><%= p.label :video_link %></li>
    <li><%= p.text_field :video_link%></li>
    <br>
    <li><%= p.label :feat_skate %></li>
    <li><%= p.select(:feat_skate, options_from_collection_for_select(Skater.all, :id, :name))%></li>
    <br>
    <li><%= p.label :filmer %></li>
    <li><%= p.select(:filmer, options_from_collection_for_select(Skater.all, :id, :name))%></li>
    <br>
      <%=p.submit %>
  <% end %>
  </ul>
</div>
