<!DOCTYPE html>
<html>
<head>
  <title>Thebacksmith2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=params%>
    <div class="navbar">
    <div id="logo">
      <a href="/"><img src="http://s6.postimg.org/kmsk0ootd/logo.png" ></img></a>
    </div>
    <div id="login_info">
      <div class="flash-container">
        <%=flash[:notice]%>
      </div>
      <ul>
        <% if current_user %>
          <li>Hello, <%=current_user.name%></li>
          <li><a href="/skaters/<%=current_user.id%>">My Profile</a> |
          <%=link_to "Logout", sessions_path, method: :delete, data: {confirm: "Are you sure?"} %></li>
        <% else %>
          <li><%= link_to "Please login", login_path %></li>
          <li><%= link_to "Not yet registered? Click here", new_skater_path %></li>
        <% end %>
      </ul>
    </div>
    <% if current_user %>
      <div class="new-post">
        <h3><a href="/posts/new">New Post</a></h3>
      </div>
    <% else%>
    <%end%>
  </div>


<div id="root_yield">
  <%= yield %>
</div>


</body>
</html>
